:root {
    --primary-blue: #233bf5;
    --white: #fff;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d3e5fd;
    display: flex;
    justify-content: center;
    color: var(--primary-blue);
}

.main-container {
    background-color: var(--white);
    padding: 20px 70px;
    width: 700px;
    margin-top: 80px;
}

.touch-text {
    font-weight: 50;
    font-size: 40px;
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin: 18px 0px;
    gap: 18px;
    flex-wrap: wrap;
}

.input-field {
    color: var(--primary-blue);
    flex-grow: 1;
    padding: 20px;
    border-radius: 8px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
}

.row1 .input-field {
    background-color: #e7e9fe;
}

.row2 .input-field {
    background-color: #dce1ff;
}

.row3 .input-field {
    background-color: #c7cdfd;
}

.row4 .input-field {
    background-color: #a5b1fd;
    line-height: 400%;
}

.row4 {
    display: flex;
    flex-wrap: wrap;
}

.row4 .input-field::placeholder {
    align-items: flex-start;
}

.input-field::placeholder {
    color: var(--primary-blue);
    opacity: 1;
    font-size: 18px;
    font-weight: 500;
}

.sub-button {
    margin: auto;
    padding: 15px 50px;
    border-radius: 25px;
    background-color: var(--primary-blue);
    color: var(--white);
    border: 0;
}

.sub-button, .input-field::placeholder {
    font-size: 16px;
}

.thanks-text {
    opacity: 0;
    color: #37c99c;
}